@model RecrutTask.Models.DataModelEntity
@{
    ViewBag.Title = "View";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Lets translate!</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GetInput", "Home", FormMethod.Post, new { id = "my-Form", Class = "form-inline translate-form" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.TextBoxFor(x => Model.InputString, new { Class = "form-control text-input" })

                <input class="btn btn-success submit-button" type="submit" value="Translate" />

            </div>
            <hr />
            <div id="result" class="result-text"></div>
        }
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(function () {

            $("#my-Form").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        $("#result").html(data);
                    }
                });

            });
        });

    </script>
}
