@*Im declare a strong type model*@
@model RecrutTask.Models.DataModelEntity

@{
    ViewBag.Title = "View";
}
<h2>This program translates your text</h2>
@using (Html.BeginForm("GetInput","Home",FormMethod.Post,new { id = "my-Form" }))
{

    @Html.ValidationSummary()

        @Html.LabelFor(x => Model.InputString)
        @Html.TextBoxFor(x=>Model.InputString)

    <input class="btn btn-success" type="submit" value="Translate" />
}
<div id="result">  
</div>
@section scripts{
   
   <script type="text/javascript">

       $(function () {

           $("#my-Form").on("submit", function (e) {
               e.preventDefault();

               $.ajax({
                   url: this.action,
                   type: this.method,
                   data: $(this).serialize(),
                   success: function (data) {
                       $("#result").html(data);
                   }
               });

           });
       });

    </script>    
    }

