.app {
    text-align:center;
    text-decoration:solid;
    position: relative;
    height: 100vh;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer p {
    font-weight: bold;
    color: #6f6f6f;
}

.navbar {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
}

.panel {
    border-color: #e8e8e8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
}

.panel-body {
    padding: 30px;
}

.translate-form .form-group {
    display: flex;
}

.translate-form .text-input {
    font-size: 18px;
    height: 40px;
}

.translate-form .submit-button {
    margin-left: 20px;
    font-size: 18px;
}

.result-text {
    font-size: 20px;
    color: #333;
}